html {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: auto;
}

a {
    color: #89b4fa;
    text-decoration: none;
}

.card {
    width: 200px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #181825;
    color: white;
    transition: background-color 0.3s ease;
    gap: 20px;
}

.play {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.play a {
    color: white;
}

.img {
    width: 200px;
    height: 300;
}